* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: san-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/landscaped.jpg");
  height: 91vh;
  overflow: hidden;
}
.wrapper {
    background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll*/
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
/*Smooth Scroll*/
section {
 background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  scroll-snap-align: center;
}

/*Header and Navigation_____________________________________________________*/
.header {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 1;
}
.logo {
  width: 30%;
  height: auto;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 1;
}
nav {
  height: 10vh;
  background: #000;
}
.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
.nav-links li a {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}
.nav-links li a:hover{
  color: #00edff;
}
/*homepage________________________________________________________________*/
#home {
  display: grid;
  margin-left: auto;
  margin-right: auto;
/*margin-left: -80rem;*/
}
 .me {
   margin: 16rem auto 0 auto;
  border: 8px solid transparent;
  border-radius: 50%;
  background: linear-gradient(to left, #007adf 0%, #00ecbc 100%) border-box;
  border-image-slice: 1;
  }

.who {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  text-align: center;
  margin-top: 2rem;
  color: #fff;
}
.what {
  font-family: 'Merriweather', serif;
  color: #fff;
  text-align: center;
  margin: 2rem auto 0 auto;
}
.button {
  font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    border: none;
    border-radius: 8px;
    color: white;
    margin: 2rem auto 4rem auto;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    cursor: pointer;
    filter: drop-shadow(0 0 0.1rem #999);
    z-index: 1;
  }
  button:hover {
    color: #00edff;
    background-color: #fff;
  }

/* Bio and Timeline_________________________________________________________*/

#about h1 {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    color: #00edff;
    text-align: center;
    margin-top: 8rem;
}

#one_p {
  width: 28%;
  float: left;
  margin-left: 4rem;
  padding-bottom: 4rem;
}
#two_p{
  width: 30%;
  float: left;
    margin-left: 1rem;
}
#three_p {
  width: 30%;
  float: left;
    margin-left: 1rem;
}
  #about p {
    font-size: 1rem;
    line-height: 2.5rem;
    text-align: left;
    text-indent: 1em;
    font-family: 'Merriweather', serif;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    color: #fff;
  }

  /*My Work________________________________________________________________*/
#portfolio {
  width: 98%;
  height:  93vh;
}
  #portfolio h1 {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    color: #00edff;
    text-align: center;
    margin-top: 8rem
  }

  /*Contact and Message Me Information_________________________________________*/

  #contact h1{
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    color: #00edff;
    text-align: center;
    margin-top: 8rem;
  }
  #contact .form1  {
  color: #fff;
  width: 700px;
  padding: 1rem;
  margin: .75rem auto 0 auto;
  font-size: 28px;
  text-align: inherit;
  line-height: 1.6em;
  border: 8px solid transparent;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.7);
}
#contact input {
  width: 60%;
  height: 30px;
  margin-left: 4rem;
  margin-right: auto;
  font-size: 24px;
  color: #666;
  border: 1px solid #444;
  border-radius: 4px;
}

#contact textarea {
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  color: #666;
  font-size: 18px;
  margin: 1rem 0 0 4rem ;
}
#contact .button {
  margin-top: 2rem;
}

  footer {
    width: 100%;
    padding: 1rem 0 1rem 0;
    text-align: center;
    background-color: #000;
  }
  footer  p{
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
 }
  footer a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding-left: 50px;
    padding-bottom: 20px;
    margin-right: 60px;
  }
  footer a:hover {
    color: #00edff;
  }

/*Responsive CSS*/
@media screen and (max-width: 400px) {
  body {
    background-image: none;
    background-color: #000;
    width: 360px;
    max-width: 100%;
  }
  #home {
    width: 360px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20rem;
  }
  .me {
    width: 200px;
    height: 200px;
  }
  #home h1 {
    max-width: 300px;
    font-size: 2.2em;
   padding: 2rem;
  }
  #home h2 {
    font-size: 1.2em;
  }
  #about h1{
    margin-top: 85rem;
  }
  #about p {
    width: 300px;
    margin: .20rem auto 0 auto;
    font-size: 1em;
  }
#portfolio {
  margin-top: 1rem;
}
#contact .form1{
  width: 340px;
}
}
@media screen and (max-width: 768px) {
  body {
    background-size: cover;
    align-content: center;
  }
  .logo {
    width: 40%;
    margin-top: 1.5rem;
  }
  .line {
    width: 30px;
    height: 4px;
    background: #fff;
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%,  -50%);
    z-index: 2;
  }
  .hamburger:hover {
    padding: 10px;
    border-radius: 8px;
  }
  .nav-links {
    position: fixed;
    background: #000;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
  }
  .nav-links.open{
    clip-path: circle(1350px at 90% -10%);
    -webkit-clip-path: circle(1350px at 90% -10%);
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
